*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
   
}
.nav{
    background: black;
    color: white;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;

    p{
        font-size: 30px;
    }
}

.container{
    width: 30%;
    height: auto;

    margin: 200px 0;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 1px solid white;

}
.input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;

    margin: 20px 0;

    background: rgb(185, 185, 185);
    border-radius: 20px;
}
input{
    width: 80%;
    padding: 10px 20px;
    border: none;
    outline: none;

    background: transparent;
    font-size: 22px;
}
button{
    /* padding: 10px; */
    width: 20%;
    height: 50px;
    border-radius: 20px;
    border: none;
    background: rgb(213, 55, 55);
    color: white;
    cursor: pointer;
    font-size: 22px;
}
#list-container{
    display: flex;
    flex-direction: column;

    padding: 10px 50px 0 20px;
}

ul li{
    list-style: none;
    padding: 5px 20px;
    cursor: pointer;
    user-select: none;
    position: relative;
    font-size: 22px;
}
ul li::before{
    content: " ";
    height: 28px;
    width: 28px;
    border-radius: 50%;
    padding: 2px;
    background-image: url("./Images/unchecked.png");
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 7px;
    left: -25px;

    /* border: 1px solid black; */
}
ul li.checked{
    /* color: rgb(14, 13, 13); */
    text-decoration: line-through;
}
ul li.checked::before{
    background: url("./Images/checked.png");
    background-position: center center;
    
}

span{
    position: absolute;
    top: 0;
    right: 0;
    /* font-size: 22px; */
    /* line-height: 40px; */

    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

span:hover{
    background: rgb(166, 165, 165);
    color: black;
}